body{
    background-color: beige;
}
.form{
    background-color:white;
    width: 31pc;
    height: 43pc;
    
    margin-left: 48pc;
    
}
.flogin1{
    color: blue;
    font-size: 26pt;
    font-family: sans-serif;
padding: 2pc;
    
}
.flogin{
    color: blue;
    font-family: sans-serif;
    text-align: center;
    
}
.box1{
    width: 19pc;
    margin-left:6pc;
    height: 3pc;
    font-family: sans-serif;
    font-size: larger;
    border: solid 2pt blue;



}

.box2{
    font-size: larger;
    font-family: sans-serif;
    width: 19pc;
    margin-left: 6pc;
    height: 3pc;
    margin-top: 0.8pc;
    border: solid 2pt blue;
}
.button{
    width: 19.3pc;
    height: 3pc;
    font-size: x-large;
    font-family: sans-serif;
    margin-left: 6pc;
    margin-top: 0.8pc;
    background-color: blue;
    color: white;
    border-radius: 5pt;    

}